<div class='container'>
	<h1>A whole new way to watch the Superbowl!</h1>
	<p>Every Second Matters</p>
</div>

<div class="thumbs">
 <div class="col-xs-6 col-md-3">
   <a class="thumbnail">
     <img src="http://www.vanityfair.com/online/oscars/2013/01/beyonce-super-bowl-halftime-performance-star-spangled-banner/_jcr_content/par/cn_contentwell/par-main/cn_blogpost/cn_float_container/cn_image.size.beyonce-national-anthem-super-bowl.png">
   </a>
    <div class="caption">
       <h3> National Anthem</h3>
       <p> Do you know how long it'll last this year?</p>
    </div>
 </div>
</div>

<div class="thumbs">
 <div class="col-xs-6 col-md-3">
   <a class="thumbnail">
     <img src="http://www.geauxforit.com/wp-content/uploads/2014/03/2015_Superbowl_banner_sm.jpg">
   </a>
    <div class="caption">
       <h3> Gametime</h3>
       <p> You can tell the future... Cant you? </p>
    </div>
 </div>
</div>

<div class="thumbs">
 <div class="col-xs-6 col-md-3">
   <a class="thumbnail">
     <img src="http://www2.pictures.zimbio.com/gi/Katy+Perry+Bridgestone+Super+Bowl+XLVI+Pregame+ycG3O3zsQjFl.jpg">
   </a>
    <div class="caption">
       <h3>Halftime Show</h3>
       <p> Wardrobe Malfunction? We can wish right?</p>
    </div>
 </div>
</div>

<div class="thumbs">
 <div class="col-xs-6 col-md-3">
   <a class="thumbnail">
     <img src="http://upload.wikimedia.org/wikipedia/commons/4/42/Xbox_One_Console_Set.jpg">
   </a>
    <div class="caption">
       <h3>Winner take all</h3>
       <p> You can win an Xbox One</p>
    </div>
 </div>
</div>

<div class='panel panel-default'>
 <div class='container'>
 	<h3> How it works </h3>
 		<p> The Superbowl 2015 prop sheet the best way to watch the big game.  What we do is compile a bunch of intersting super bowl props into one sheet that every contestant will answer.  You will be asked to answer a series of questions ranging from who will score the first touchdown to what will the first song that Katy Perry performs. The object is to get as many questions right and earn enough points to be #1.</p>

 	<h3> Who can Play</h3>
 		<p> Anyone can enter, its free! Even if you do not know much about football, many of the questions have nothing to do with the game but the broadcast as a whole.</p>

 	<h3> What do I get if I win? </h3>
 		<p> 1st place in the 2015 Superbowl Prop Sheet will win a brand new X Box One!</p>
 </div>
</div>

