<div class="panel panel-default">
  <div class="panel-body">
    <h3>
    	For Questions, concerns, or business inquiries, please feel free to contact us using the information provided below:
    </h3>

    <p>
    	Email: PropSheet@gmail.com
    </p>

    <p2>Ross Kleinrock:
    		rkleinro@gmail.com
    		Phone: 516-965-8325
		Zach Lyman:
			zlyman@gmail.com
			Phone: 516-444-3333
	</p2>
  </div>
</div>
