<div class="panel panel-default">
  <div class="panel-heading">
    	For questions or concerns please feel free to contact us using the information provided below:
  </div>
  <div class="panel-body">
    <address> 
    	<strong> Email:</strong></br>
        <a href="mailto:#">ThePropSheet@gmail.com</a>
    </address>

    <dl>
        <dt> Ross Kleinrock: </dt>
    	<dd> Phone: 516-965-8325 </dd>
    </dl>
    <dl>
        <dt> Zach Lyman: </dt>
        <dd> Phone: 516-444-3333 </dd>
    </dl>
  </div>
</div>
