
<div class='scoreboard'>
	<iframe width="1000" height="2000" frameborder="0" src="https://docs.google.com/spreadsheets/d/1avM4XVL0WmUPlmZcrUVOMSS7PshafIyKeQ0Gr1VTxsE/pubhtml?gid=1492330881&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
</div>