
<div class="panel panel-default">
 <div class="panel-heading">Check Back Later</div>
 <div class="panel-body">
   <ol> This page will not be avaible until 4:00 PM the day of the Super Bowl.  Then you will be able to see everyone's responses <ol>
 </div>
</div>


<div class='scoreboard'>
	<iframe width="0" height="0" frameborder="0" src="https://docs.google.com/spreadsheets/d/1avM4XVL0WmUPlmZcrUVOMSS7PshafIyKeQ0Gr1VTxsE/pubhtml?gid=1492330881&amp;single=true&amp;widget=false&amp;headers=false"></iframe>
</div>