
<%= render 'layouts/carousel' %>


<div class='jumbotron center'>
	<h1>Prop Sheet</h1>
	<p>The chances you win are slim</p>
    <p>
      <%= link_to "Join Pool", form_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Learn More", about_path, class: "btn btn-primary btn-lg" %> 
    </p>
</div>