
<%= render 'layouts/carousel' %>


<div class='jumbotron center'>
	<h1>The Prop Sheet</h1>
	<p>Welcome to The Prop Sheet for 2015: ____ vs. ____</p>
    <p>
      <%= link_to "Join Pool", form_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Learn More", about_path, class: "btn btn-primary btn-lg" %> 
    </p>
</div>