
<%= render 'layouts/carousel' %>


<div class='jumbotron center'>
	<h1>The Prop Sheet</h1>
	<p>Welcome to The Prop Sheet for Superbowl 50: Broncos Vs. Panthers</p>
    <p>
      <%= link_to "Join Pool", "https://docs.google.com/forms/d/1vh5EY7uRvtH_R29tSYh4s6I_0-FAO5nKY-LbFtuv5M8/viewform?usp=send_form", class: "btn btn-primary btn-lg" %> 
    </p>
</div>