
<%= render 'layouts/carousel' %>


<div class='jumbotron center'>
	<h1>The Prop Sheet</h1>
	<p>Welcome to The Prop Sheet for Superbowl XLIX: Patriots vs. Seahawks</p>
    <p>
      <%= link_to "Learn More", rules_path, class: "btn btn-primary btn-lg" %> 
    </p>
</div>