
<%= render 'layouts/carousel' %>


<div class='jumbotron center'>
	<h1>The Prop Sheet</h1>
	<p>Welcome to The Prop Sheet for Superbowl 50: Broncos vs. Panthers</p>
    <p>
      %= link_to "Join Pool", "https://docs.google.com/forms/d/1gIJMCda5KWzpg1ViwKZYjivqajshpTFOOlBy0tTBOJI/viewform?usp=send_form", class: "btn btn-primary btn-lg" %> 
    </p>
</div>