<div class="panel panel-default">
 <div class="panel-heading">Rules</div>
 <div class="panel-body">
   <ol>
   <li> Points will be collected by answering questions correctly.  There will be 1 pt, 2 pt, and 3pt questions that are specified on the form</li>
   <li> You must submit your form no later than 3:00 P.M on the day of the Super Bowl</li>
   <li> The tiebreaker is the total points scored in the game</li>
   <li>If we cannot determine the answer to any of the questions, they will not be counted</li>
   <li> If there is no answer to a question, it will not be counted</li>
   <li>If the answer to a question is a push, it will not be counted</li>
 </div>
</div>