<div class="panel panel-default">
 <div class="panel-heading">Rules</div>
 <div class="panel-body">
   <ol>
   <li> Entry is Free!</li>
   <li> Limit of one entry per person</li>
   <li> 1st place winner will recieve a brand new Xbox 360</li>
   <li> Points will be collected by answering questions correctly.  There will be 1 pt, 2 pt, and 3pt questions that are specified on the form</li>
   <li> You must submit your quiz no later than 3:00 P.M on the day of the Superbowl</li>
   <li> The tiebreaker is the total points scored in the game</li>
 </div>
</div>