<div class='scoreboard'>
	<iframe width="580" height="2000" frameborder="0" src="https://docs.google.com/spreadsheets/d/1avM4XVL0WmUPlmZcrUVOMSS7PshafIyKeQ0Gr1VTxsE/pubhtml?gid=697934095&amp;single=true&amp;widget=false&amp;headers=false"></iframe>
</div>