

<div class='container'>
	<p> Total Recieving Yards </p>
	<button type="button" class="btn btn-primary active">Over</button>
	<button type="button" class="btn btn-primary">Under</button>
</div>


<div class='container'>
	<p> Total Rushing Yards </p>
	<button type="button" class="btn btn-primary">Over</button>
	<button type="button" class="btn btn-primary">Under</button>
</div>

<div class='container'>
	<p> Total Passing Yards </p>
	<button type="button" class="btn btn-primary">Over</button>
	<button type="button" class="btn btn-primary">Under</button>
</div>